body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#submit{
    visibility: hidden;
}
#upgrade{
    zoom: 1.5;
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    color: white;
    font-weight: 400;
    background: linear-gradient(#09347e,#09347e);
    border: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: .3s;
}

#container{
    color: black;
    zoom: 1.5;
    height: 247.5px;
    width: 230px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: -2px 2px 20px rgba(128, 128, 128, 0.5) , 2px 2px 20px rgba(128, 128, 128, 0.5);
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#question{
    width: 230px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#timer{
    height: 20px;
    width: 210px;
    color: blue;
}
#text{
    height: 60px;
    width: 210px;
    color: black;
}
#number{
    height: 20px;
    width: 20px;
    color: blue;
}
.option{
    height: 23px;
    width: 210px;
    padding-left: 10px;
    background-color: white;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 2px solid rgba(0, 0, 255, 0.5);
    border-radius: 6px;
    color: black;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: .2s;
}

.option:hover{
    height: 27px;
    width: 220px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: rgb(169, 169, 241);
}
.btn:hover{
    background-color: rgb(1, 1, 190);
    color: white;
}

#score{
    text-align: center;
    height: 20px;
    width: 70px;
}

#check{
    border-color: #09347e;
    color: white;
}
#check:hover{
    background-color: rgb(1, 1, 190);
}
