body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/image.png');
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position: center; 
}
#previous{
    visibility: hidden;
}
#upgrade{
    zoom: 1.5;
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.btn{
    color: blue;
    font-weight: 400;
    background: linear-gradient(red,rgb(255, 128, 0));
    border: none;
    border: 1.5px solid blue;
    border-radius: 2px;
    transition-property: all;
    transition-duration: .3s;
}

#container{
    zoom: 1.5;
    background: linear-gradient(blue,red);
    height: 247.5px;
    width: 230px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: 4px 7px 7px rgb(91, 83, 83);
}
#question{
    width: 230px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#timer{
    height: 20px;
    width: 210px;
    color: black;
}
#text{
    height: 60px;
    width: 210px;
    color: white;
}
#number{
    height: 20px;
    width: 20px;
    color: white;
}
.option{
    height: 23px;
    width: 210px;
    padding-left: 10px;
    background-color: blue;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: .2s;
}

.option:hover{
    height: 27px;
    width: 220px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: rgb(1, 1, 190);
}
.btn:hover{
    background-color: rgb(1, 1, 190);
    color: white;
}

#score{
    height: 17.867px;
    width: 45;
}

#check{
    border-color: rgb(1, 1, 190);
    background: blue;
    color: white;
}
#check:hover{
    background-color: rgb(1, 1, 190);
}
